*~
*.bak
*.sw*
.npmrc
.bash_history
.bash_logout
.bash_profile
.c9/
.cache/
.config/
.idea*
.node-gyp/
.node_repl_history
.npm/
.nvm/
.ssh/
.tern-project
.vim/
.viminfo
.vscode
node_modules/
npm-debug.log
projects/
Session.vim
tags
!tags/
